.article-details-page .container-fluid .article-body .text-block{



.front-center{
  left:50%;
  position: absolute;
  top:50%;
  transform: translate(-50%, -50%);
}

.neonsign{
  position: absolute;
  left:50%;
  top:-100%;
  transform: translate(-50%,-100%);
}

.stomach{
  position: absolute;
  top:286px;
  left:940px;
}

.stomach-1{
  
}
.stomach-2{
  
}
.stomach-3{
  
}
.stomach-4{
  
}
.stomach-5{
  
}
.stomach-6{
  
}
.stomach-7{
  
}
.stomach-8{
  
}

.clock{
  top:-100px;
  left:1200px;
  position:absolute;

  &--07{
    
  }

  &--08{
    
  }
}


.intestine{
  position: absolute;
  top:89px;
  left:417px;
}

.intestine-food-in-throat{
  //was png
  
}

.intestine-food-entering-stomach{
  
}
.intestine-blue-red-bubbles{
  
}
.intestine-red{
  
}
.intestine-red-and-filling{
  
}
.intestine-with-flame{
  
}
.intestine-with-glowing-flame{
  
}
.intestine-glow-in-mouth{
  
  top:82px;
  //height: 399px;
}


.character-home-sad{
  
  position: absolute;
  
}

.character-home-hangs-head{
  
  position: absolute;
  
  
}

.character-home-waiting{
  
  position: absolute;
  
}

.character-home-happy{
  position: absolute;
  
}

.home-scene{
  position: absolute;
  top:30%;
  
}

  

.character-home-taking-meds {

  position: absolute;
}

  

.food-particles{

  position: absolute;
  left:99px;
  animation-name: swallow;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

.red-stuff{
  position: absolute;
  
  left:98px;
  top:608px;
  animation-name: appear;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

.stomach-antacid{
  position: absolute;
  .antacid-step{
    position: absolute;


    animation-name:appear;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    opacity:0;
  }
  .antacid-step-1{
    
    animation:appear;
  }
  .antacid-step-2{
    
    animation-delay: 10s; 
  }
  .antacid-step-3{
    
    animation-delay: 20s;
  }
  .antacid-step-4{
    
    animation-delay: 30s;
  }
  .antacid-step-5{
    
    animation-delay: 40s;
  }
}
.perspective-level-1 {
  //background: svg("layers/perspective-level-1.svg");
  position: absolute;
}

.perspective-level-2 {
  //TODO: Inspect this. Different sizes for desktop and mobile!!!
  position: absolute;
  &--mobile{
    //width: 383px;
    //height: 294px;
  }
}






.perspective-level-3 {
  
  position: absolute;
}

.perspective-level-4 {
  
  position: absolute;
}


.pocket {
  position: absolute;
  top:45%;
  left:17%;
}

.desktop-element{
  @media (max-width:600px){
    display: none;
  }
}

.mobile-element{
  @media(min-width:600px){
    display: none;
  }
}
  
.flame {

  position: absolute;
  left:179px;
  top:100px;
}

.background-static {
  //was png

  position: absolute;
}
.background-static-light-on {
  //was png
  
  position: absolute;
}

.window-lit{
  position: absolute;
  top:20.9%;
  left:48.1%;
  
}

.drinker{
  //TODO: inspect this. Different sizes on desktop and mobile
  position: absolute;
  &--drink-up {
    width: 547px;
    height: 626px;
    left:183px;
    &--mobile{
      width:199px;
      height: 228px;
      left:0;
    }
  }
  &--drink-down {
    width: 710px;
    height: 604px;
    left:183px;
    &--mobile{
      width:258px;
      height: 219px;
      left:0;
    }
  }
}


.bar-bench {
  position: absolute;
  bottom:0;
}
  
.table-for-two {

  position: absolute;
  top:320px;
}
  
.character-served{
  
  position: absolute;
  top:-24px;
  left:372px;
}

.character-eating{
  
  position: absolute;
  top:-24px;
  left:372px;
}



.character-leans-forward{
  
  position: absolute;
  top:-24px;
  left:372px;
}

.friend{
  position: absolute;
  top:25px;
  left:1040px;
}

.friend-distressed{
  position: absolute;
  top:25px;
  left:1040px;
}

.friend-distressed-2{
  position: absolute;
  top:25px;
  left:1040px;
}

.speech-bubble-home{

  position: absolute;
  top:-263px;
  left:319px;
}

.medicine-thought-bubble{
  //was png
  
  position: absolute;
  top:-250px;
  left:871px;
}

.dual-action-bottle{
  
  margin:auto;
}

.character-standing-distressed{
  position: absolute;
  left:351px;
  top:-280px;
  
}

.character-distressed{
  
  position: absolute;
  top:-24px;
  left:351px;
  transition: all 0;
}

@keyframes standUp{
  0% {
    background-image: svg("layers/get-up-1.svg");
    width:561px;
    height:1025px;
    left:351px;
    top:-25px  
  }
  15% {
    background-image: svg("layers/get-up-2.svg");
    width:560px;
    height:1120px;
    left:351px;
    top:-88px  
  }
  30% {
    background-image: svg("layers/get-up-3.svg");
    width:560px;
    height:1120px;
    left:351px;
    top:-186px  
  }
  45% {
    background-image: svg("layers/get-up-4.svg");
    width:561px;
    height:1199px;
    left:349px;
    top:-266px  
  }
  70% {
    background-image: svg("layers/get-up-5.svg");
     width:649px;
     height:1265px;
     left:303px;
     top:-330px
  }
  100% {
    background-image: svg("layers/character-standing-distressed.svg");
    width:439px;
    height:1219px;
    left:351px;
    top:-280px
  };
}

.speech-bubble-cycler{
  width: 182px;
  height: 247px;
  position: absolute;
}
.speech-bubble{
  position: absolute;
  animation-name: timeshare;
  animation-duration: 7s;
  animation-iteration-count: infinite;
  opacity: 0;
}
.speech-bubble-spaghetti{
}
.speech-bubble-cheese-burger{
  animation-delay: 1s;
}
.speech-bubble-chilly-tacos{
  animation-delay: 2s;
}
.speech-bubble-garlic-bread{
  animation-delay: 3s;
}
.speech-bubble-mint-choco{
  animation-delay: 4s;
}
.speech-bubble-pink-lemonade{
  animation-delay: 5s;
}

.speech-bubble-pizza{
  animation-delay: 6s;
}

@keyframes timeshare{
  5%{opacity: 1;}
  14%{opacity:1;}
  19%{opacity:0;}
}

.stat-1{
  
  position: relative;
  background-position: center;
  @media(max-width:600px){
    width: 343px;
    height: 187px;
  }
}

.stat-2{
  
  position: relative;
  
  @media(max-width:600px){
    width:343px;
    height: 375px;
  }
}

.stat-3{
  position: relative;
  @media(max-width:600px){
    height: 375px;
    width:343px;
  }
}

.globe{
  position: relative;
  background-position: center;
  @media(max-width:600px){
    width:300px;
    height: 296px;
  }
}

.radiating-circle{
  position:relative;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-name: pulse;
  @media(max-width:600px){
    width:15px;
    height: 15px;
  }
}
  


@keyframes pulse {
  0% {
    transform: scale(1); }
  50% {
    transform: scale(2); } }

.copy{
  background-color: rgba(8, 5, 62, 0.95);
  position: absolute;
  color:white;
  padding:25px 23px 0px 30px;
  font-family:'Frutiger LT Pro 55 Roman';
  //font-family: sans-serif;
  box-sizing: border-box;
  width:90vw;
  @media(min-width:600px){
    width:527px;
    padding:80px 71px 90px 63px;
  }
  @media(min-width:1400px){
    width:627px;
    padding:100px 91px 100px 73px;
  }

  &--time{
    padding:20px 80px;
    width:auto;
  }
    
  &--alt{
    width: 340px;
    padding:32px 23px;
    text-align: center;
  }
        
  h2{
    font-family: 'Frutiger LT Pro 65 Bold';
    font-size: 17px;
    font-weight: 700;
    margin:0;
    @media(min-width:600px){
      font-size: 22px;
    }
    @media(min-width:1400px){
      font-size: 32px;
    }

  }

  h3{
    font-family: 'Frutiger LT Pro 55 Roman';
    font-size: 18px;
    margin-bottom: 0;
    font-weight: 400;
    @media(min-width:600px){
      font-size: 22px;
    }
    @media(min-width:1400px){
      font-size: 32px;
    }
  }
  p, li{
    font-size: 15px;
    font-weight: 400;
    @media(min-width:600px){
      font-size: 17px;
    }
    @media(min-width:1400px){
      font-size: 22px;
    }
  }
    
    
  ul{
    padding-inline-start: 1em;
  }
}

.copy--final{
  font-family: 'Frutiger LT Pro 55 Roman';
  font-size: 22px;
  font-weight: 400;
  background-color: rgba(255,255,255,0.9);
  color:#0a0555;
  padding:20px 10px;
  border:5px solid #2f72f4;
  @media(min-width:1000px){
    border:15px solid #2f72f4;
    width:1100px;
    padding:150px 120px;
  }
  @media(max-width:1700px){
    padding-top: 20px;
    padding-bottom: 20px;
}
  
  border-radius: 30px;

  li{
    padding: 4px 0;
    @media(min-width:1000px){
      padding:6px 0;
    }
  }
  
  h2{
    color:#ff8a00;
    font-size: 22px;
    @media(min-width: 1000px){
      font-size: 48px;
    }
    
    font-family: 'Frutiger LT Pro 65 Bold';
  }

  h3{
    color:#2f72f4;
    font-size: 18px;
    @media(min-width: 1000px){
      font-size: 40px;
    }
    font-weight: 400;
    font-family: 'Frutiger LT Pro 55 Roman';
  }
}

.footnote{
  position:absolute;
  bottom:10px;
  color:white;
  display: none;
  font-family: 'Frutiger LT Pro 55 Roman';
  font-size: 14px;
  margin:0 128px;
  @media(min-width:1400px){
    font-size:18px;
  }
  @media(max-width:600px){
    //opacity: 0;
    margin:0 20px;
    font-size:8px;
  }
}

}