.bg-antacid_step_1 {
  width: 439px;
  height: 1152px;
  background: url("https://phx-gaviscon-au-prod.husky-2.rbcloud.io/media/2icojfvk/css_sprites.png") -7012px -1174px;
}

.bg-antacid_step_2 {
  width: 563px;
  height: 1477px;
  background: url("https://phx-gaviscon-au-prod.husky-2.rbcloud.io/media/2icojfvk/css_sprites.png") -5970px -10px;
}

.bg-antacid_step_3 {
  width: 563px;
  height: 1477px;
  background: url("https://phx-gaviscon-au-prod.husky-2.rbcloud.io/media/2icojfvk/css_sprites.png") -5970px -1507px;
}

.bg-antacid_step_4 {
  width: 563px;
  height: 1477px;
  background: url("https://phx-gaviscon-au-prod.husky-2.rbcloud.io/media/2icojfvk/css_sprites.png") -5970px -3004px;
}

.bg-antacid_step_6 {
  width: 563px;
  height: 1477px;
  background: url("https://phx-gaviscon-au-prod.husky-2.rbcloud.io/media/2icojfvk/css_sprites.png") -10px -4663px;
}

.bg-antacid_step_7 {
  width: 563px;
  height: 1477px;
  background: url("https://phx-gaviscon-au-prod.husky-2.rbcloud.io/media/2icojfvk/css_sprites.png") -593px -4663px;
}

.bg-antacid_step_8 {
  width: 563px;
  height: 1477px;
  background: url("https://phx-gaviscon-au-prod.husky-2.rbcloud.io/media/2icojfvk/css_sprites.png") -1176px -4663px;
}

.bg-background_static {
  width: 1920px;
  height: 610px;
  background: url("https://phx-gaviscon-au-prod.husky-2.rbcloud.io/media/2icojfvk/css_sprites.png") -4030px -847px;
}

.bg-antacid_step_5 {
  width: 563px;
  height: 1477px;
  background: url("https://phx-gaviscon-au-prod.husky-2.rbcloud.io/media/2icojfvk/css_sprites.png") -1759px -4663px;
}

.bg-bar_bench {
  width: 1920px;
  height: 278px;
  background: url("https://phx-gaviscon-au-prod.husky-2.rbcloud.io/media/2icojfvk/css_sprites.png") -3456px -4030px;
}

.bg-background_static_light_on {
  width: 1920px;
  height: 610px;
  background: url("https://phx-gaviscon-au-prod.husky-2.rbcloud.io/media/2icojfvk/css_sprites.png") -4030px -1477px;
}

.bg-bubble_cheese_burger {
  width: 200px;
  height: 231px;
  background: url("https://phx-gaviscon-au-prod.husky-2.rbcloud.io/media/2icojfvk/css_sprites.png") -8300px -1951px;
}

.bg-character_home {
  width: 464px;
  height: 1144px;
  background: url("https://phx-gaviscon-au-prod.husky-2.rbcloud.io/media/2icojfvk/css_sprites.png") -7012px -10px;
}

.bg-character_home_hangs_head {
  width: 412px;
  height: 1116px;
  background: url("https://phx-gaviscon-au-prod.husky-2.rbcloud.io/media/2icojfvk/css_sprites.png") -6553px -2489px;
}

.bg-character_eating {
  width: 561px;
  height: 958px;
  background: url("https://phx-gaviscon-au-prod.husky-2.rbcloud.io/media/2icojfvk/css_sprites.png") -4754px -4663px;
}

.bg-bubble_chilly_tacos {
  width: 200px;
  height: 230px;
  background: url("https://phx-gaviscon-au-prod.husky-2.rbcloud.io/media/2icojfvk/css_sprites.png") -8300px -2453px;
}

.bg-bubble_pink_lemonade {
  width: 203px;
  height: 230px;
  background: url("https://phx-gaviscon-au-prod.husky-2.rbcloud.io/media/2icojfvk/css_sprites.png") -8300px -1663px;
}

.bg-bubble_garlic_bread {
  width: 200px;
  height: 230px;
  background: url("https://phx-gaviscon-au-prod.husky-2.rbcloud.io/media/2icojfvk/css_sprites.png") -8300px -2722px;
}

.bg-character_home_happy {
  width: 409px;
  height: 1136px;
  background: url("https://phx-gaviscon-au-prod.husky-2.rbcloud.io/media/2icojfvk/css_sprites.png") -7012px -2346px;
}

.bg-bubble_mint_choco {
  width: 217px;
  height: 231px;
  background: url("https://phx-gaviscon-au-prod.husky-2.rbcloud.io/media/2icojfvk/css_sprites.png") -8300px -1412px;
}

.bg-character_home_sad {
  width: 409px;
  height: 1136px;
  background: url("https://phx-gaviscon-au-prod.husky-2.rbcloud.io/media/2icojfvk/css_sprites.png") -7012px -3502px;
}

.bg-bubble_pizza {
  width: 199px;
  height: 231px;
  background: url("https://phx-gaviscon-au-prod.husky-2.rbcloud.io/media/2icojfvk/css_sprites.png") -8300px -2972px;
}

.bg-bubble_spaghetti {
  width: 200px;
  height: 231px;
  background: url("https://phx-gaviscon-au-prod.husky-2.rbcloud.io/media/2icojfvk/css_sprites.png") -8300px -2202px;
}

.bg-character_home_waiting {
  width: 409px;
  height: 1136px;
  background: url("https://phx-gaviscon-au-prod.husky-2.rbcloud.io/media/2icojfvk/css_sprites.png") -7012px -4658px;
}

.bg-character_leans_forward {
  width: 561px;
  height: 958px;
  background: url("https://phx-gaviscon-au-prod.husky-2.rbcloud.io/media/2icojfvk/css_sprites.png") -5335px -4663px;
}

.bg-character_standing_distressed {
  width: 439px;
  height: 1219px;
  background: url("https://phx-gaviscon-au-prod.husky-2.rbcloud.io/media/2icojfvk/css_sprites.png") -6553px -1250px;
}

.bg-drinker_drink_up {
  width: 547px;
  height: 626px;
  background: url("https://phx-gaviscon-au-prod.husky-2.rbcloud.io/media/2icojfvk/css_sprites.png") -7993px -10px;
}

.bg-food_particles {
  width: 42px;
  height: 82px;
  background: url("https://phx-gaviscon-au-prod.husky-2.rbcloud.io/media/2icojfvk/css_sprites.png") -8483px -3694px;
}

.bg-character_served {
  width: 561px;
  height: 958px;
  background: url("https://phx-gaviscon-au-prod.husky-2.rbcloud.io/media/2icojfvk/css_sprites.png") -5916px -4663px;
}

.bg-clock_08 {
  width: 181px;
  height: 181px;
  background: url("https://phx-gaviscon-au-prod.husky-2.rbcloud.io/media/2icojfvk/css_sprites.png") -8300px -3223px;
}

.bg-drinker_drink_down {
  width: 710px;
  height: 605px;
  background: url("https://phx-gaviscon-au-prod.husky-2.rbcloud.io/media/2icojfvk/css_sprites.png") -10px -6930px;
}

.bg-flame {
  width: 99px;
  height: 98px;
  background: url("https://phx-gaviscon-au-prod.husky-2.rbcloud.io/media/2icojfvk/css_sprites.png") -8300px -3825px;
}

.bg-clock_07 {
  width: 181px;
  height: 181px;
  background: url("https://phx-gaviscon-au-prod.husky-2.rbcloud.io/media/2icojfvk/css_sprites.png") -8300px -3493px;
}

.bg-dual_action_bottle {
  width: 50px;
  height: 122px;
  background: url("https://phx-gaviscon-au-prod.husky-2.rbcloud.io/media/2icojfvk/css_sprites.png") -8300px -4074px;
}

.bg-friend {
  width: 477px;
  height: 920px;
  background: url("https://phx-gaviscon-au-prod.husky-2.rbcloud.io/media/2icojfvk/css_sprites.png") -7496px -10px;
}

.bg-friend_distressed {
  width: 477px;
  height: 920px;
  background: url("https://phx-gaviscon-au-prod.husky-2.rbcloud.io/media/2icojfvk/css_sprites.png") -7496px -950px;
}

.bg-friend_distressed_2 {
  width: 477px;
  height: 920px;
  background: url("https://phx-gaviscon-au-prod.husky-2.rbcloud.io/media/2icojfvk/css_sprites.png") -7496px -1890px;
}

.bg-get_up_2 {
  width: 560px;
  height: 1120px;
  background: url("https://phx-gaviscon-au-prod.husky-2.rbcloud.io/media/2icojfvk/css_sprites.png") -3593px -4663px;
}

.bg-get_up_3 {
  width: 561px;
  height: 1200px;
  background: url("https://phx-gaviscon-au-prod.husky-2.rbcloud.io/media/2icojfvk/css_sprites.png") -3012px -4663px;
}

.bg-home_background {
  width: 1920px;
  height: 428px;
  background: url("https://phx-gaviscon-au-prod.husky-2.rbcloud.io/media/2icojfvk/css_sprites.png") -4030px -3435px;
}

.bg-get_up_1 {
  width: 561px;
  height: 1025px;
  background: url("https://phx-gaviscon-au-prod.husky-2.rbcloud.io/media/2icojfvk/css_sprites.png") -4173px -4663px;
}

.bg-get_up_4 {
  width: 650px;
  height: 1269px;
  background: url("https://phx-gaviscon-au-prod.husky-2.rbcloud.io/media/2icojfvk/css_sprites.png") -2342px -4663px;
}

.bg-intestine_food_entering_stomach {
  width: 287px;
  height: 751px;
  background: url("https://phx-gaviscon-au-prod.husky-2.rbcloud.io/media/2icojfvk/css_sprites.png") -7993px -1951px;
}

.bg-intestine_blue_red_bubbles {
  width: 287px;
  height: 751px;
  background: url("https://phx-gaviscon-au-prod.husky-2.rbcloud.io/media/2icojfvk/css_sprites.png") -7993px -2722px;
}

.bg-globe {
  width: 486px;
  height: 485px;
  background: url("https://phx-gaviscon-au-prod.husky-2.rbcloud.io/media/2icojfvk/css_sprites.png") -7993px -656px;
}

.bg-get_up_5 {
  width: 439px;
  height: 1220px;
  background: url("https://phx-gaviscon-au-prod.husky-2.rbcloud.io/media/2icojfvk/css_sprites.png") -6553px -10px;
}

.bg-intestine_food_in_throat {
  width: 287px;
  height: 751px;
  background: url("https://phx-gaviscon-au-prod.husky-2.rbcloud.io/media/2icojfvk/css_sprites.png") -7993px -3493px;
}

.bg-intestine_red {
  width: 287px;
  height: 751px;
  background: url("https://phx-gaviscon-au-prod.husky-2.rbcloud.io/media/2icojfvk/css_sprites.png") -7993px -4264px;
}

.bg-intestine_glow_in_mouth {
  width: 287px;
  height: 770px;
  background: url("https://phx-gaviscon-au-prod.husky-2.rbcloud.io/media/2icojfvk/css_sprites.png") -7993px -1161px;
}

.bg-intestine_red_and_filling {
  width: 287px;
  height: 751px;
  background: url("https://phx-gaviscon-au-prod.husky-2.rbcloud.io/media/2icojfvk/css_sprites.png") -7993px -5035px;
}

.bg-medicine_thought_bubble {
  width: 237px;
  height: 231px;
  background: url("https://phx-gaviscon-au-prod.husky-2.rbcloud.io/media/2icojfvk/css_sprites.png") -8300px -1161px;
}

.bg-intestine_with_flame {
  width: 287px;
  height: 751px;
  background: url("https://phx-gaviscon-au-prod.husky-2.rbcloud.io/media/2icojfvk/css_sprites.png") -7993px -5806px;
}

.bg-perspective_level_1 {
  width: 1920px;
  height: 817px;
  background: url("https://phx-gaviscon-au-prod.husky-2.rbcloud.io/media/2icojfvk/css_sprites.png") -4030px -10px;
}

.bg-perspective_level_2 {
  width: 1047px;
  height: 804px;
  background: url("https://phx-gaviscon-au-prod.husky-2.rbcloud.io/media/2icojfvk/css_sprites.png") -4030px -2611px;
}

.bg-intestine_with_glowing_flame {
  width: 287px;
  height: 751px;
  background: url("https://phx-gaviscon-au-prod.husky-2.rbcloud.io/media/2icojfvk/css_sprites.png") -7993px -6577px;
}

.bg-neonsign {
  width: 1216px;
  height: 483px;
  background: url("https://phx-gaviscon-au-prod.husky-2.rbcloud.io/media/2icojfvk/css_sprites.png") -2220px -4030px;
}

.bg-perspective_level_3 {
  width: 1814px;
  height: 484px;
  background: url("https://phx-gaviscon-au-prod.husky-2.rbcloud.io/media/2icojfvk/css_sprites.png") -4030px -2107px;
}

.bg-pocket {
  width: 69px;
  height: 67px;
  background: url("https://phx-gaviscon-au-prod.husky-2.rbcloud.io/media/2icojfvk/css_sprites.png") -8419px -3825px;
}

.bg-radiating_circle {
  width: 49px;
  height: 49px;
  background: url("https://phx-gaviscon-au-prod.husky-2.rbcloud.io/media/2icojfvk/css_sprites.png") -8300px -3424px;
}

.bg-perspective_level_4 {
  width: 907px;
  height: 484px;
  background: url("https://phx-gaviscon-au-prod.husky-2.rbcloud.io/media/2icojfvk/css_sprites.png") -716px -6160px;
}

.bg-red_stuff {
  width: 163px;
  height: 111px;
  background: url("https://phx-gaviscon-au-prod.husky-2.rbcloud.io/media/2icojfvk/css_sprites.png") -8300px -3694px;
}

.bg-speech_bubble_home {
  width: 312px;
  height: 231px;
  background: url("https://phx-gaviscon-au-prod.husky-2.rbcloud.io/media/2icojfvk/css_sprites.png") -7496px -2830px;
}

.bg-stat1 {
  width: 686px;
  height: 376px;
  background: url("https://phx-gaviscon-au-prod.husky-2.rbcloud.io/media/2icojfvk/css_sprites.png") -1643px -6160px;
}

.bg-stat2 {
  width: 686px;
  height: 750px;
  background: url("https://phx-gaviscon-au-prod.husky-2.rbcloud.io/media/2icojfvk/css_sprites.png") -5097px -2611px;
}

.bg-table_for_two {
  width: 2190px;
  height: 613px;
  background: url("https://phx-gaviscon-au-prod.husky-2.rbcloud.io/media/2icojfvk/css_sprites.png") -10px -4030px;
}

.bg-transparent {
  width: 4000px;
  height: 4000px;
  background: url("https://phx-gaviscon-au-prod.husky-2.rbcloud.io/media/2icojfvk/css_sprites.png") -10px -10px;
}

.bg-stat3 {
  width: 686px;
  height: 750px;
  background: url("https://phx-gaviscon-au-prod.husky-2.rbcloud.io/media/2icojfvk/css_sprites.png") -10px -6160px;
}

.bg-window_lit {
  width: 87px;
  height: 111px;
  background: url("https://phx-gaviscon-au-prod.husky-2.rbcloud.io/media/2icojfvk/css_sprites.png") -8300px -3943px;
}
/*# sourceMappingURL=spritesheet.css.map */